<h2>Add a new Product</h2>
Name:<input type="text" ng-model="newProduct.name"value="product.name">
<!-- <label for="Image:"><input type="text" name="productPicture"> -->
Description: <textarea ng-model="newProduct.description"value="product.description" rows="8" cols="80"></textarea>
<label for="Initial Quantity:"><input type="number" ng-model="newProduct.quantity">
<button type="submit" ng-click="addProduct(newProduct)">Add Product</button>
<input type="search" ng-model="product_filter"placeholder="search products..">
<div ng-repeat="products in product | filter: product_filter">
  <h4>{{products.name}} ({{products.quantity}} left)</h4>
  <p>{{products.description}}</p>
  <button ng-click="delete(products._id)">Delete</button>
</div>
</table>
