<h2>Add a new Product</h2>
<!-- Name:<input type="text" ng-model="newProduct.name"value="product.name"> -->
<!-- <label for="Image:"><input type="text" name="productPicture"> -->
<!-- Description: <textarea ng-model="newProduct.description"value="product.description" rows="8" cols="80"></textarea> -->
<!-- <label for="Initial Quantity:"><input type="number" ng-model="newProduct.quantity"> -->
<a href= "#!/products/add">Add Product</a>
<input type="search" ng-model="product_filter"placeholder="search products..">
<div ng-repeat="products in product | filter: product_filter">
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">{{products.quantity}} left</span>
    <a>{{products.name}}</a>
    <p>{{products.description}}</p>
    {{products.quality}}/5
  </li>
  <button ng-click="delete(products._id)">Delete</button>
  </ul>
</div>
<ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#!/products">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
